<section class="container">
    <div class="row">
        <div class="col-lg-4 text-center div-emb">
            <mat-card class="example-card">
                <mat-card-title>Embaixadas</mat-card-title>
                <mat-card-subtitle>Países da América Latina</mat-card-subtitle>
                <mat-card-content>
                  <p>Representações diplomáticas no exterior.</p>
                </mat-card-content>
                <mat-card-actions>
                    <mat-form-field appearance="fill" [color]="color" [style.width.px]="widthComboBox">
                    <mat-label>Selecione</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let item of embaixadas" [value]="item.nomePais" (click)="getEmbaixada(item)">
                            {{item.nomePais}}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-lg-8 div-emb" *ngIf="!showInformacoesEmbaixada">
            <p class="infoGerais">Informações Gerais</p>
            <hr>
        </div>    
        <div class="col-lg-8 div-emb" *ngIf="showInformacoesEmbaixada">
            <p class="infoGerais">Informações Gerais</p>
            <hr>
            <div *ngFor="let embaixada of embaixadasList">
                <p class="nomeEmbaixada">{{embaixada?.nome}}</p>
                <p class="letraConfig"><span class="conf-info-embaixada">Endereço:</span> {{embaixada?.endereco}}</p>
                <p class="letraConfig"><span class="conf-info-embaixada">Telefone:</span> {{embaixada?.telefone}}</p>
                <p class="letraConfig"><span class="conf-info-embaixada">Fax:</span> {{embaixada?.fax}}</p>
                <p class="letraConfig"><span class="conf-info-embaixada">Email:</span> {{embaixada?.email}}</p>
                <p class="letraConfig"><span class="conf-info-embaixada">Website:</span> {{embaixada?.website}}</p>
                <p class="letraConfig"><span class="conf-info-embaixada">Facebook:</span> {{embaixada?.facebook}}</p>
                <p class="letraConfig"><span class="conf-info-embaixada">Twitter:</span> {{embaixada?.twitter}}</p>
                <p class="letraConfig"><span class="conf-info-embaixada">Instagram:</span> {{embaixada?.instagram}}</p>
                <p class="letraConfig"><span class="conf-info-embaixada">Horário de Atendimento:</span> {{embaixada?.horaAtendimento}}</p>
                <hr>
            </div>
        </div>
    </div>
</section>