<section class="container">
    <div class="row justify-content-md-center section-titulo">
        <div class="col-lg-8 text-center">
            <h1>Dados da América Latina e Caribe</h1>
            <hr>
            <!-- <img src="https://s1.static.brasilescola.uol.com.br/be/e/mapa_america_latina[1]1.jpg" alt="mapa-da-america-latina">
            <p>Mapa países da América Latina e Caribe</p>
            <hr> -->
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <h3 class="dados">Principais atividades economicas:</h3>
        </div>
        <div class="col-lg-12 atividades card-atividades">
            <figure class="imagem">
                <img src="../../../assets/img/agricultura.jpg" alt="" width="200px" height="140px">
                <figcaption>Agricultura</figcaption>
            </figure>
            <figure class="imagem">
                <img src="../../../assets/img/pecuaria.jpg" alt="" width="200px" height="140px">
                <figcaption>Pecuária</figcaption>
            </figure>
            <figure class="imagem">
                <img src="../../../assets/img/mineracao.jpg" alt="" width="200px" height="140px">
                <figcaption>Extrativismo Mineral</figcaption>
            </figure>
            <figure class="imagem">
                <img src="../../../assets/img/industria.jpg" alt="" width="200px" height="140px">
                <figcaption>Indústrias de bens de consumo</figcaption>
            </figure>
            <hr>
        </div>
    </div>

    <div class="row justify-content-md-center texto-economia">
        <div class="col-lg-8">
            <p>México, Brasil e Argentina são as nações latino-americanas mais ricas. Os três países são vistos como emergentes e o Produto Interno Bruto (PIB) dos três, correspondem a aproximadamente 75% do PIB de toda a América Latina.</p>   
            <p>Nessa região, a agricultura de subsistência é evoluída, com destaque para a pesca, caça e coleta. Os colonizadores europeus chegaram aos países e deram continuidade ao cultivo, mas voltado para a exportação, buscando a própria rentabilidade.

                Dessa forma, esses países têm como base de exportação os produtos primários, deixando o processo de industrialização ainda mais lento quando comparado com nações desenvolvidas. A policultura e a monocultura são as principais formas de produção.
                
                A atividade econômica mais lucrativa para os países latino-americanos é a pecuária, já que muitos animais, como gados e bois, são criados em regiões mais frias ou de clima tropical.
                
                Outra grande atividade é a mineração e o extrativismo, principalmente na exportação desses itens para o resto do mundo.</p>
            <hr>
        </div>
    </div>

    <div class="row justify-content-md-center texto-economia">
        <div class="col-lg-8">
            <h3 class="dados">Relevo, clima e hidrografia:</h3>
            <p>A América Latina possui a mesma organização de formas de relevo, no sentindo norte-sul, em todas as latitudes. Dessa maneira, podemos classificar cinco unidades geomorfológicas como as mais importantes: baixadas litorâneas, elevadas cordilheiras, grandes planícies banhadas por rios, planaltos de desgaste na porção oriental da América do Sul e Baixadas Litorâneas banhadas pelo oceano Atlântico.</p>
            <p>A América Latina fica em uma zona intertropical, onde o clima quente é predominante. Essa característica não abrange o extremo sul (região da Argentina e Chile) e das regiões montanhosas (Andes).

                Devido a sua grande extensão, a diferença de latitudes e a variação climática pode-se perceber uma grande diversidade de vegetais. As paisagens que podemos destacar são: Floresta Amazônica, Cerrado, Caatinga, Pampa ou Estepes e desertos (México, Atacama e Patagônia).</p>
            <p>A maior parte do relevo é disposta por rios americanos e, principalmente, latino-americanos. Eles correm no sentido oeste-leste, porque o paredão da Cordilheira dos Andes faz eles se irem em direção ao oceano Atlântico.</p>
            <hr>
        </div>
    </div>

    <div class="row justify-content-md-center texto-economia">
        <div class="col-lg-8">
            <h3 class="dados">Religião:</h3>
            <p>Mesmo apresentando um grande número de religiões desde os evangélicos, protestantes, africanas e indígenas, a religião que predomina na região latino-americana é o cristianismo.</p>
            <p>Cristianismo é a religião que tem como ponto central a vida e a pessoa de Jesus Cristo. Os principais ensinamentos do Cristianismo podem ser encontrados no livro sagrado: a Bíblia. Segundo o The World Factbook, elaborado pela CIA com dados de 2012, o Cristianismo é a maior religião do mundo.</p>
            <hr>
        </div>
    </div>

    <div class="row justify-content-md-center texto-economia">
        <div class="col-lg-8">
            <h3 class="dados">História:</h3>
            <p class="letra-descrisao">O nome América Latina é derivado das línguas faladas em diversas partes do continente americano. Na América do Norte, somente o México está inserido nesse contexto, além de toda a América Central e do Sul. Isso significa que são países de língua latina, como o português, o francês e o espanhol. Os países que integram a América Latina possuem semelhanças quanto à condição de subdesenvolvimento, tais como economia fragilizada e atrasada, problemas sociais e políticos.

                Na América Latina era desenvolvida a agricultura de subsistência, incluindo ainda caça, pesca e coleta. Com a chegada dos colonizadores europeus, grande parte dos países latinos passaram a cultivar produtos destinados à exportação, com o objetivo de obter lucro.
                
                São identificadas duas formas de produção, uma destinada ao mercado externo (monocultura) e outra direcionada ao abastecimento interno (policultura).
                
                Os países latinos são grandes exportadores de produtos primários. Além disso, tiveram uma industrialização tardia em relação às nações desenvolvidas, motivo que fez com que a América Latina se tornasse dependente.
                
                Economia atual
                
                Recentemente foram realizadas mudanças significativas na agricultura latina que promoveram alterações profundas no espaço e na economia. As mudanças ocorreram em decorrência da inserção de máquinas, tecnologias, implementos, insumos agrícolas (herbicidas, fertilizantes, inseticidas entre outros) e técnicas de manejo, que resultou no aumento da produtividade e, consequentemente, dos lucros.
                
                A pecuária ocupa hoje um lugar de destaque, atividade praticada de forma semi-intensiva, são criadas raças bovinas europeias em regiões de clima frio e a raça zebu em áreas de clima tropical.
                
                Outra atividade econômica bastante difundida em praticamente todos os países da América Latina é o extrativismo e a mineração. Existe um grande fluxo comercial desenvolvido internamente entre os componentes latinos, uma vez que há uma dependência em relação a alguns minérios, além da sua exportação para diversos lugares do mundo.
                
                O setor industrial é dividido em indústrias tradicionais e de beneficiamento. Atuam na produção de matéria-prima a partir do beneficiamento de minérios ou produtos agropecuários, incluindo aquelas que produzem bens de consumo, como as tradicionais indústrias alimentícias e têxteis, apesar de alguns países possuírem um setor industrial mais diversificado, que varia desde a indústria de base até a tecnologia de ponta, com essas características temos o Brasil, a Argentina e o México.
                
                Veja mais em: https://brasilescola.uol.com.br/geografia/economia-da-america-latina.htm</p>
        </div>
    </div>
</section>
