

<section id="header-section">
    <div class="header-logo">
        <app-menu></app-menu>
        <img src="../assets/img/dadosamerica_.jpg" alt="" class="logo">
    </div>

    <div>
        <app-search></app-search>
    </div>
</section>
<section id="section-nav">
    <nav>
        <ul id="nav-list" #ulMenu (click)="listaMenuCheck($event)">
            <li #liHome class="hover" 
                [routerLink]="['/noticias']" 
                routerLinkActive="router-link-active"
                [ngStyle]="{'color': styleLi[0], 'border-bottom': styleBorder[0]}">
                Notícias 
            </li>
            <li class="hover" 
                [routerLink]="['/perfis-paises']" 
                routerLinkActive="router-link-active"
                [ngStyle]="{'color': styleLi[1], 'border-bottom': styleBorder[1]}">
                Perfis dos Países 
            </li>
            <li class="hover" 
                [routerLink]="['/dados-gerais']" 
                routerLinkActive="router-link-active"
                [ngStyle]="{'color': styleLi[2], 'border-bottom': styleBorder[2]}">
                Dados Gerais 
            </li>
            <li class="hover" [routerLink]="['/linguas']" routerLinkActive="router-link-active"
                [ngStyle]="{'color': styleLi[3], 'border-bottom': styleBorder[3]}">
                Línguas 
            </li>
            <li class="hover" [routerLink]="['/live-travel-study']" routerLinkActive="router-link-active"
                [ngStyle]="{'color': styleLi[4], 'border-bottom': styleBorder[4]}">
                Viver, estudar, viajar 
            </li>
            <li class="hover" [routerLink]="['/consulados']" routerLinkActive="router-link-active"
                [ngStyle]="{'color': styleLi[5], 'border-bottom': styleBorder[5]}">
                Consulados 
            </li>
            <li class="hover" [routerLink]="['/embaixadas']" routerLinkActive="router-link-active"
                [ngStyle]="{'color': styleLi[6], 'border-bottom': styleBorder[6]}">
                Embaixadas 
            </li>
        </ul>
    </nav>
</section>

