

<section id="header-section">
    <div class="header-logo">
        <app-menu></app-menu>
        <img src="../assets/img/dadosamerica_.jpg" alt="" class="logo">
    </div>

    <div>
        <app-search></app-search>
    </div>
</section>
<section id="section-nav">
    <nav>
        <ul id="nav-list" (click)="listaMenuCheck($event)">
            <li class="hover" [routerLink]="['/home']" routerLinkActive="router-link-active">Página Inicial </li>
            <li class="hover" [routerLink]="['/perfis']" routerLinkActive="router-link-active">Perfis dos Países </li>
            <li class="hover" [routerLink]="['/economia']" routerLinkActive="router-link-active">Dados Gerais </li>
            <li class="hover" [routerLink]="['/saude']" routerLinkActive="router-link-active">Línguas </li>
            <li class="hover">Viver, trabalhar, estudar </li>
            <li class="hover">Notícias </li>
            <li class="hover">Embaixadas </li>
        </ul>
    </nav>
</section>

