<section class="container">
    <div class="row justify-content-md-center section-titulo">
        <div class="col-lg-8 text-center">
            <h1>Economia da América Latina e Caribe</h1>
            <hr>
            <!-- <img src="https://s1.static.brasilescola.uol.com.br/be/e/mapa_america_latina[1]1.jpg" alt="mapa-da-america-latina">
            <p>Mapa países da América Latina e Caribe</p>
            <hr> -->
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <h3 class="dados">Principais atividades economicas:</h3>
        </div>
        <div class="col-lg-12 atividades card-atividades">
            <figure class="imagem">
                <img src="../../../assets/img/agricultura.jpg" alt="" width="200px" height="140px">
                <figcaption>Agricultura</figcaption>
            </figure>
            <figure class="imagem">
                <img src="../../../assets/img/pecuaria.jpg" alt="" width="200px" height="140px">
                <figcaption>Pecuária</figcaption>
            </figure>
            <figure class="imagem">
                <img src="../../../assets/img/mineracao.jpg" alt="" width="200px" height="140px">
                <figcaption>Extrativismo Mineral</figcaption>
            </figure>
            <figure class="imagem">
                <img src="../../../assets/img/industria.jpg" alt="" width="200px" height="140px">
                <figcaption>Indústrias de bens de consumo</figcaption>
            </figure>
            <hr>
        </div>
    </div>

    <div class="row justify-content-md-center texto-economia">
        <div class="col-lg-8">
            <h3 class="dados">Resumo:</h3>
            <p>PIB Total:</p>
            <p>PIB per capta:</p> 
            <p>Maior inflação: </p>
            <p>Menor inflação: </p>
            <p>Continente: América</p>
            <p>Melhor índice de segurança: </p>
            <p>População: 902.892.047 habitantes</p>
            <p>Países: 35 países e 18 dependências</p>
            <p>Extensão territorial: 42.189.120 km2</p>
            <p>Maior país: Brasil (9.984.670 km2)</p>
            <p>Menor país: São Cristóvão e Névis (261 km2)</p>
            <p>Subcontinentes: América do Norte, América Central e América do Sul</p>
            <p>Idiomas: inglês, espanhol, português, francês, neerlandês e línguas nativas</p>
            <hr>
        </div>
    </div>

    <div class="row justify-content-md-center texto-economia">
        <div class="col-lg-8">
            <p class="letra-descrisao">O nome América Latina é derivado das línguas faladas em diversas partes do continente americano. Na América do Norte, somente o México está inserido nesse contexto, além de toda a América Central e do Sul. Isso significa que são países de língua latina, como o português, o francês e o espanhol. Os países que integram a América Latina possuem semelhanças quanto à condição de subdesenvolvimento, tais como economia fragilizada e atrasada, problemas sociais e políticos.

                Na América Latina era desenvolvida a agricultura de subsistência, incluindo ainda caça, pesca e coleta. Com a chegada dos colonizadores europeus, grande parte dos países latinos passaram a cultivar produtos destinados à exportação, com o objetivo de obter lucro.
                
                São identificadas duas formas de produção, uma destinada ao mercado externo (monocultura) e outra direcionada ao abastecimento interno (policultura).
                
                Os países latinos são grandes exportadores de produtos primários. Além disso, tiveram uma industrialização tardia em relação às nações desenvolvidas, motivo que fez com que a América Latina se tornasse dependente.
                
                Economia atual
                
                Recentemente foram realizadas mudanças significativas na agricultura latina que promoveram alterações profundas no espaço e na economia. As mudanças ocorreram em decorrência da inserção de máquinas, tecnologias, implementos, insumos agrícolas (herbicidas, fertilizantes, inseticidas entre outros) e técnicas de manejo, que resultou no aumento da produtividade e, consequentemente, dos lucros.
                
                A pecuária ocupa hoje um lugar de destaque, atividade praticada de forma semi-intensiva, são criadas raças bovinas europeias em regiões de clima frio e a raça zebu em áreas de clima tropical.
                
                Outra atividade econômica bastante difundida em praticamente todos os países da América Latina é o extrativismo e a mineração. Existe um grande fluxo comercial desenvolvido internamente entre os componentes latinos, uma vez que há uma dependência em relação a alguns minérios, além da sua exportação para diversos lugares do mundo.
                
                O setor industrial é dividido em indústrias tradicionais e de beneficiamento. Atuam na produção de matéria-prima a partir do beneficiamento de minérios ou produtos agropecuários, incluindo aquelas que produzem bens de consumo, como as tradicionais indústrias alimentícias e têxteis, apesar de alguns países possuírem um setor industrial mais diversificado, que varia desde a indústria de base até a tecnologia de ponta, com essas características temos o Brasil, a Argentina e o México.
                
                Veja mais em: https://brasilescola.uol.com.br/geografia/economia-da-america-latina.htm</p>
        </div>
    </div>
</section>
