<section class="container">
  <div class="row text-center">
    <div class="col-lg-6 div-noticia-principal">
      <h2 class="titulo-noticia-principal">Buraco gigante no deserto do Chile não para de crescer e intriga cientistas.</h2>
      <p class="info-noticia-principal">Uma semana depois, o buraco aumentou: seu diâmetro agora é de 36,5 metros, de acordo com as últimas medições de satélite.</p>
      <p class="link-noticia-principal">Essa e outras notícias em <a href="https://www.bbc.com/portuguese/geral-62476278">BBC News Brasil.</a></p>
    </div>
    <div class="col-lg-6 div-img-noticia-principal">
      <img class="img-noticia-principal" src="../../../assets/img/img-2.png" alt="">
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-10">
      <hr id="hr-style">
    </div>
  </div>
  <!-- noticias -->
  <div class="row justify-content-md-center">
    <div class="col-lg-10" *ngFor="let noticia of noticiasQtd; let i = index">
      <app-noticia></app-noticia>
    </div>
  </div>
</section>