@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Nanum+Myeongjo:wght@800&display=swap');

@media (min-width: 992px) {
    .tituloNot {
        font-size: 20pt;
        text-align: justify;
        font-family: 'Nanum Myeongjo', serif;
    }

    .paragrafoNot {
        font-size: 12pt;
        text-align: justify;
    }

    .dataNot {
        font-size: 10pt;
    }
}