<div id="mobile-menu" (click)="abrirMenu()">
    <div [ngStyle]="{'background-image': 'url(assets/img/menu.png)',
                                    'background-size': 'cover',
                                    'background-repeat': 'no-repeat',
                                    'padding': '2.5vh',
                                    'cursor': 'pointer'}">
    </div>
</div>

<nav #nav_menu_mobile [ngStyle]="{'display': display}">
    <ul id="nav-list">
        <i class="bi bi-x-circle-fill" (click)="fecharMenu()"></i>
        <li>Home</li>
        <li>Cultura</li>
        <li>Economia</li>
        <li>Saúde</li>
        <li>Educação</li>
        <li>Política</li>
        <li>Geografia</li>
        <li>Imigração e Emigração</li>
        <li>Turismo</li>
    </ul>
</nav>










