<div id="mobile-menu" (click)="abrirMenu()">
    <div [ngStyle]="{'background-image': 'url(assets/img/menu.png)',
                                    'background-size': 'cover',
                                    'background-repeat': 'no-repeat',
                                    'padding': '2.5vh',
                                    'cursor': 'pointer'}">
    </div>
</div>
<!-- menu mobile -->
<nav #nav_menu_mobile [ngStyle]="{'display': display}">
    <ul id="nav-list">
        <i class="bi bi-x-circle-fill" (click)="fecharMenu()"></i>
        <li [routerLink]="['/pagina-inicial']" routerLinkActive="router-link-active">Home</li>
        <li>Cultura</li>
        <li [routerLink]="['/dados-gerais']" routerLinkActive="router-link-active">Economia</li>
        <li [routerLink]="['/saude']" routerLinkActive="router-link-active">Saúde</li>
        <li>Educação</li>
        <li>Política</li>
        <li>Geografia</li>
        <li>Imigração e Emigração</li>
        <li>Turismo</li>
    </ul>
</nav>










