<section class="container">
    <div class="row section-titulo justify-content-md-center text-center">
        <div class="col-lg-8">
            <h1 class="titulo-home">Línguas da América Latina.</h1>
            <hr>
            <p>A América Latina caracteriza-se pela sua diversidade cultural e linguística e as línguas faladas nos países constituem uma componente essencial do seu património cultural.</p>
            <br>
            <hr>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-4">
            <h3>Línguas oficiais dos países da América Latina:</h3>
            <br>
            <ul>
                <li>1. Espanhol – 447 milhões de falantes</li>
                <li>2. Português – 206 milhões de falantes</li>
                <li>3. Crioulo Haitiano – 10 milhẽes de falantes</li>
                <li>4. Quechua – 8 milhões de falantes</li>
                <li>5. Guarani – 5 milhões de falantes</li>
                <li>6. Aimara – 2,5 milhões de falantes</li>
                <li>7. Inglês – 2,5 milhões de falantes</li>
                <li>8. Neerlandês – 280 mil de falantes</li>
                <li>9. Francês – 231 mil de falantes</li>
            </ul>
        </div>
        <div class="col-lg-4">
            imagem
        </div>
    </div>
    <div class="row section-titulo justify-content-md-center">
        <div class="col-lg-8">
            <hr>
            <h3>Algumas Línguas ameríndias faladas na América Latina:</h3>
            <br>
            <ul>
                <li>1. Tupi-Guarani (principalmente no Paraguai) – 3 milhões de falantes</li>
                <li>2. Náhuatl (México Central) – 1 Milhão de falantes</li>
                <li>3. Quiché (Guatemala) – 1 Milhão de falantes</li>
                <li>4. Otomi (México Central) – 500 mil falantes</li>
                <li>5. Cakchiquel (Guatemala) – 500 mil falantes</li>
                <li>6. Mapuche (Chile) – 500 mil falantes</li>
                <li>7. Guajiro (Venezuela e Colômbia) – 200 mil falantes</li>
                <li>8. Emberá (Colômbia) – 70 mil falantes</li>
                <li>9. Paez (Colômbia) – 60 mil falantes</li>
                <li>10. Ashaninca (Peru e Brasil) – 50 mil falantes</li>
            </ul>
        </div>
    </div>
    <div class="row section-titulo justify-content-md-center">
        <div class="col-lg-8">
            <hr>
            <h3>Habitantes latino-americanos que falam outros idiomas:</h3>
            <br>
            <ul>
                <li>1. Alemão (principalmente no Brasil) – 2 milhões de falantes</li>
                <li>2. Italiano (Brasil e Argentina) – 1,5 milhões de falantes</li>
                <li>3. Árabe (vários dialetos) – 1,1 Milhão de falantes</li>
                <li>4. Chinês (vários dialetos) – 535 mil falantes</li>
                <li>5. Ucraniano (Brasil e Argentina) – 527 mil falantes</li>
                <li>6. Japonês (Principlamente no Brasil) – 412 mil falantes</li>
            </ul>
        </div>
    </div>
</section>