<section class="container">
    <div class="row section-titulo justify-content-md-center">
        <div class="col-lg-8 col-sm-12">
            <h1>{{paisSelecionado?.nome}}</h1>
            <h3>{{paisSelecionado?.descrisao}}</h3>
            <hr>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-lg-8 col-sm-12">
            <div class="cabecalho-info">
                <img src="{{paisSelecionado?.urlImg}}" alt="" width="200px" height="200px">
                <div>
                    <h3 id="dados">DADOS GERAIS:</h3>
                    <h4 class="info-dados-gerais">Área: {{areaTotalString}}</h4>
                    <h4 class="info-dados-gerais">Localização: {{paisJsonInfo[0].localizacao.regiaointermediaria.nome}}</h4>
                    <h4 class="info-dados-gerais">Capital: {{paisJsonInfo[0].governo.capital.nome}}</h4>
                    <h4 class="info-dados-gerais">População: {{populacaoFormatadaString}} (2020)</h4>
                    <h4 class="info-dados-gerais">Idioma(s): {{idioma}}</h4>
                    <h4 class="info-dados-gerais">PIB: US$ {{pibTotal}} (2020)</h4>
                    <h4 class="info-dados-gerais">PIB per capita: US$ {{pibPerCapta}} (2020)</h4>
                    <h4 class="info-dados-gerais">Moeda: {{paisJsonInfo[0].unidadesmonetarias[0].nome}}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-lg-8 col-sm-12">
            <hr>
            <h3 id="dados">CIDADES:</h3>
            <div id="cidades-div" *ngFor="let cidades of cidadesDoPaisArray">
                <h4 class="info-dados-gerais">{{cidades}}, </h4>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-lg-8 col-sm-12">
            <hr>
            <h3 id="dados">ECONOMIA, SAÚDE E EDUCAÇÃO:</h3>
            Chegada de Turistas
            Total de exportações
            Total de importações
            Taxa de matrícula em todos os níveis
            Taxa de alfabetização a partir de 15 anos de idade
            Consumo calórico
            Incidência de subnutrição
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-lg-8 col-sm-12">
            <hr>
            <h3 id="dados">INDICADORES SOCIAIS:</h3>
            Espectativa de vida
            IDH
            Taxa de natalidade
            taxa de mortalidade
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-lg-8 col-sm-12">
            <hr>
            <h3 id="dados">REDES:</h3>
            Assinaturas de telefonia celular
            Percentual de usuários de Interne
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-lg-8 col-sm-12">
            <hr>
            <h3 id="dados">HISTÓRIA:</h3>
            <div *ngIf="!showConteudoTexto" class="conteudo-historia">
                {{historiaConteudo}} 
                <span class="texto-marcado" 
                (click)="openConteudoTexto()">
                leia-mais
                </span> 
            </div>
            <div *ngIf="showConteudoTexto" class="conteudo-historia">
                {{this.paisJsonInfo[0].historico}} 
            </div>
        </div>
    </div>
</section>



Meio ambiente
Demografia
