.section-titulo>div>h1 {
    font-size: 16pt;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

h3 {
    font-size: 13pt;
    margin-top: -30px;
    margin-bottom: 30px;
  }

.cabecalho-info {
    display: flex;
    justify-content: space-evenly;
}

#dados {
  margin-top: 5px;
  font-size: 14pt;
  font-weight: bold;
  color: #636363;
} 

.info-dados-gerais{
  font-size: 13pt;
  font-weight: 300;
}

#cidades-div {
  display: inline-block;
  margin-right: 25px;
}

.conteudo-historia {
  position: relative;
  display: flex;
  text-align: justify;
}

.texto-marcado {
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

@media (min-width: 992px) {
  
    .section-titulo>div>h1 {
      font-size: 25pt;
      font-weight: 300;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }
  }