

<section id="header-section">
    <div class="header-logo">
        <app-menu></app-menu>
        <img src="../assets/img/dadosamerica_.jpg" alt="" class="logo">
    </div>

    <div>
        <app-search></app-search>
    </div>
</section>
<section id="section-nav">
    <nav>
        <ul id="nav-list">
            <li>Home |</li>
            <li>Cultura |</li>
            <li>Economia |</li>
            <li>Saúde |</li>
            <li>Educação |</li>
            <li>Política |</li>
            <li>Geografia |</li>
            <li>Imigração e Emigração |</li>
            <li>Turismo</li>
        </ul>
    </nav>
</section>

